@charset "utf-8";
/* CSS Document */
h1.ContentHeading{
	font-size:30px;
}
.ContentUnderline{text-decoration:underline;}
p.ContentPara{font-size:16px;}
.ContentNumberBullet ul li{list-style:outside decimal;}

h2.ContentHeading{
	font-size:25px;
}
h3.ContentParaTitle{font-size:23px;color:#034c85;text-transform:uppercase;}
h4.compalint{display:inline-block;}
.ContentRed{color:#8b0000;}
.ContentParaGap{padding-left:20px;}
.policy{text-align:center;margin:0 auto;}
tr.fixed-width{width:50%;}
